.black_button,
.red_button,
.green_button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  font-weight: bold;
  color: white;
  outline: 0;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
.black_button {
  background-color: #000;
}
.red_button {
  background-color: #e25f55;
}
.green_button {
  background-color: #71C691;
}
