input {
  font-size: 16px;
}
.input {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
  font-family: Arial, Helvetica, sans-serif;
  &[type="number"] {
    width: 57px;
    text-align: center;
  }
}
.compound_input {
  margin-top: 1rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
  border-radius: 10px;
  overflow: hidden;
  input {
    flex: 1;
    width: 50%;
    border: none;
    outline: none;
    padding: 1rem;
    &:nth-child(n + 2) {
      border-left: 1px #d2d2d2 solid;
    }
    &:input:placeholder-shown {
      background-color: grey;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.multiselect {
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
  transition: height 0.5s;
  .multiselect__tag {
    background: #71c691;
    font-size: 1.6rem;
  }
  .multiselect__tags {
    border-radius: 10px;
  }
  .multiselect__placeholder {
    font-size: 1.6rem;
  }
  .multiselect__option--selected.multiselect__option--highlight::after,
  .multiselect__option--selected.multiselect__option--highlight {
    background: #f15152;
    // background: none;
    // color: #000;
  }
  .multiselect__option--highlight,
  .multiselect__option--highlight::after {
    background: #71c691;
    // background: none;
    // color: #000;
  }
}
.image_input {
  height: 192px;
  width: 128px;
  resize: none;
}
.page_input {
  display: flex;
  align-items: center;
  label {
    margin: 1rem 0 0 1rem;
  }
}
